@model IEnumerable<WebApplication1.Models.Book>

@{
    ViewData["Title"] = "Index";
}
 
<h1> Lend </h1>
<table class="table">
    <thead>
        <tr>
            <th>
               ID
            </th>
            <th>
                Name
            </th>
            <th>
              Author Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td>
                <a asp-action="LendBook" asp-route-bookId="@item.BookId"> Lend </a>
            </td>
        </tr>
}
    </tbody>
</table>
